@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital@0;1&display=swap");

// colors
$dark-color-home: #595959;
$light-color-home: #e5e5e5;
$dark-color-home-opacity: rgb(89, 89, 89, 0.8);
$theme-pink: #e87aa7;

// fonts
$Lato: "Lato", sans-serif;
$h: "Libre Baskerville", serif;
